{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="block">
        <div class="blocktitle"><h2>LOG IN</h2></div>
        <div class = "form-box">
            <form class="form-signin" method="post">
                {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="inputEmail">Email Address</label>
                <input id="form-input" type="email" name="email" id="inputEmail" placeholder="Enter Email address" value="{{ last_username }}" required>
                <br>
                <label for="inputLastName">Password</label>
                <input id="form-input" type="password" name="password" id="password" placeholder="Enter Password" required>

                <div style="text-align: center">
{#                    REMEMBER ME (3O DAYS) - SECURITY.YAML#}
                    <input type="checkbox" name="_remember_me"> Remember me
                </div>
                <br>
                <button style="width:100%;margin-top:5px;" class="button1" type="submit">
                    Log in
                </button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
            </form>
                <a class="register" href="{{ path('register') }}">Register</a>
        </div>
    </div>
{% endblock %}
