{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="block">
        <div class="blocktitle"><h2>CONTACT US</h2></div>
        <p>COMING SOON...</p>
        <p>Please contact us through the social media links at the bottom of the page!</p>
        <br>
        <br>
    </div>
{% endblock %}


