



    <div class="socialbar">
        <a href="#" class="fa fa-instagram fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-youtube-square fa-2x"></a>
    </div>
    <div style="font-family: 'Arial'; font-size: 12px;">
        Copyright &copy; 2021 T24 Productions. All rights reserved.
        <br>
        <br>
    </div>
